@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Feed</h2>

<div class="form-group">
    <br />
    <div>
        @Html.ActionLink("Sign In", "SignIn", "Account")
    </div>
    <div>
        @Html.ActionLink("Sign up", "SignUp", "Account")
    </div>
</div>
   

  

   
